.cover__cover-bg_image {
position: absolute;
width: 1184px;
height: 594px;
/* left: 48px;
top: 7931px; */
}

@media (min-width : 1024px) {
    .cover__cover-bg_image {
        width: 1024px;
        height: 591px;
    }
}

@media (max-width : 768px) {
    .cover__cover-bg_image {
        width: 768px;
        height: 500px;
    }
}

@media (max-width : 375px) {
    .cover__cover-bg_image {
        width: 375px;
        height: 272px;
    }
}

@media (max-width : 320px) {
    .cover__cover-bg_image {
        width: 320px;
        height: 216px;
    }
}